img { max-width:100%;}

body{
    box-sizing: border-box;
    background-image:url('../img/back.png');
    background-color: white;
    background-size: cover;
background-repeat: no-repeat;
background-attachment : fixed;
  }

.container{
    font-family: "Kaisei HarunoUmi", serif;
    font-weight: 400;
    font-style: normal;
    color:brown !important;
    box-sizing: border-box;
    contain: paint;
}

.navbar{
    box-sizing: border-box;
    justify-content: space-between;
    background-color: pink;
    position: sticky !important;
    top: 0;
    padding: 10px !important;
    z-index: 9999;
    width: 100%;
}

.navbar-brand img{
    height: 80px;
}

.navbar-nav .nav-link{
    color: brown !important;
}

.navbar-nav .nav-link:hover{
    background-color: rgb(255, 221, 149);
}

.navbar-toggler-icon{
    fill: brown !important;
}

.collapse {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav-link .navbar-nav{
    color: brown;
}

.main{
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 5%;
}

.main-sumaho{
    width: 100%;
    box-sizing: border-box;
    display:none
}

@media (max-width: 991.98px) {

    .navbar{
        position: sticky !important;
        top: 0;
    }
    .navbar-collapse{
        display: flex;
        justify-content: start;
    }

    .main{
        box-sizing: border-box;
        max-width:100%;
        width: 100%;
        padding-bottom: 5%;
        display:none
    }
    
    .main-sumaho{
        box-sizing: border-box;
        max-width:100%;
        width: 100%;
        display: flex;
    }
}




/*web概要*/

.webtitleText{
    padding-top: 3%;
    padding-bottom: 0.9%;
    font-size: 30px;
}

.website{
    /*background-color: chocolate;*/
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.website1{
    box-sizing: border-box;
    width: 100%;
    max-width: 350px;
    margin-left: 1%;
}

.website1 img{
    box-sizing: border-box;
    border-radius:5px 30px 5px 30px;
    padding: 3%;
}

.website2{
    box-sizing: border-box;
    width: 100%;
    max-width: 350px;
}

.website2 img{
    box-sizing: border-box;
    border-radius:5px 30px 5px 30px;
    padding: 3%;
}

.website3{
    box-sizing: border-box;
    width: 100%;
    max-width: 350px;
}

.website3 img{
    box-sizing: border-box;
    border-radius:5px 30px 5px 30px;
    padding: 3%;
}

.website4{
    box-sizing: border-box;
    width: 100%;
    max-width: 350px;
    margin-right: 1%;
}

.website4 img{
    box-sizing: border-box;
    border-radius:5px 30px 5px 30px;
    padding: 3%;
}

@media (max-width:991.98px) {

    .website{
        /*background-color: chocolate;*/
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        width: 100%;
    }

    .webtitleText{
        padding-top: 3%;
        padding-bottom: 0.9%;
        font-size: 30px;
    }
    
    .website{
        /*background-color: chocolate;*/
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    
    
    .website1 img{
        border-radius:5px 30px 5px 30px;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    
    
    .website2 img{
        border-radius:5px 30px 5px 30px;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    
    
    .website3 img{
        border-radius:5px 30px 5px 30px;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    
    .website4 img{
        border-radius:5px 30px 5px 30px;
        padding-top: 3%;
        padding-bottom: 3%;
    }

}

/*MMD概要*/

.MMDtitleText{
    padding-top: 0.9%;
    padding-bottom: 0.9%;
    font-size: 30px;
}

.mmd{
    /*background-color: aquamarine;*/
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.mmdimg img{
    max-width: 1200px;
    width: 100%;
    border-radius:20px;
    padding: 1.5%; 
}

.mmdtextbox{
    box-sizing: border-box;
    border-radius:10px;
    background-color: rgb(255, 242, 245);
    margin-top: 0.9%;
    margin-bottom: 0.9%;
    margin-right: 1%;
    padding: 1.5%;
    width: 700px;
    display: flex;
    align-items: center;
}

.mmdtext{
    font-size :18px;
}

.mmdHTMLs{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    display: flex;
    justify-content: flex-end;
}

@media (max-width:991.98px) {
    .mmd{
        /*background-color: aquamarine;*/
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        overflow-x: hidden;
        width: 100%;
    }

    .mmdtext{
        font-size :14px;
        margin: 20px;
    }

    .mmdtextbox{
        box-sizing: border-box;
        border-radius:10px;
        background-color: rgb(255, 242, 245);
        margin-top: 0.9%;
        margin-bottom: 0.9%;
        padding: 1.5%;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .mmdimg img{
        width: 100%;
        border-radius:20px;
    }
}

/*イラスト概要*/

.ILLUSTtitleText{
    padding-top: 0.9%;
    padding-bottom: 0.9%;
    font-size: 30px;
}

.illust{
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    width: 100%;
}

.illustimg img{
    width: 100%;
    border-radius:20px;
    padding: 1.5%; 
}

.illusttextbox{
    box-sizing: border-box;
    border-radius:10px;
    background-color: rgb(255, 242, 245);
    margin-top: 0.9%;
    margin-bottom: 0.9%;
    margin-left: 1%;
    padding: 2%;
    width:  auto;
    display: flex;
    align-items: center;
}

.illusttext{
    font-size: 18px;
}

.illustHTMLs{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    display: flex;
    justify-content: flex-end;
}

@media (max-width:991.98px) {
    .illust{
        /*background-color: aquamarine;*/
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        overflow-x: hidden;
        width: 100%;
    }

    .illusttext{
        font-size :14px;
        margin: 20px;
    }

    .illusttextbox{
        box-sizing: border-box;
        border-radius:10px;
        background-color: rgb(255, 242, 245);
        margin-top: 0.9%;
        margin-bottom: 0.9%;
        padding: 2%;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .illustimg img{
        max-width:100%;
        width: 100%;
        border-radius:20px;
    }
}

/*Live2D概要*/

.LIVE2DtitleText{
    padding-top: 0.9%;
    padding-bottom: 0.9%;
    font-size: 30px;
}

.live2d{
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.live2dimg img{
    max-width: 1200px;
    width: 100%;
    border-radius:20px;
    padding: 1.5%; 
}

.live2dtextbox{
    box-sizing: border-box;
    border-radius:10px;
    background-color: rgb(255, 242, 245);
    margin-top: 0.9%;
    margin-bottom: 0.9%;
    margin-left: 1%;
    padding: 2%;
    width: 700px;
    display: flex;
    align-items: center;
}

.live2dtext{
    font-size: 18px;
}

.live2dHTMLs{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    display: flex;
    justify-content: flex-end;
}

@media (max-width:991.98px) {
    .live2d{
        box-sizing: border-box;
        /*background-color: aquamarine;*/
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        contain: paint;
        width: 100%;
    }

    .live2dtext{
        font-size :14px;
        margin: 20px;
    }

    .live2dtextbox{
        border-radius:10px;
        background-color: rgb(255, 242, 245);
        margin-top: 0.9%;
        margin-bottom: 0.9%;
        padding: 2%;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .live2dimg img{
        max-width:100%;
        width: 100%;
        border-radius:20px;
    }
}

/*ロゴ概要*/

.logoTitletext{
    padding-top: 0.9%;
    padding-bottom: 0.9%;
    font-size: 30px;
}

.logo{
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    width: 100%;
}

.logoimg img{
    overflow-x: hidden;
    max-width:100%;
    width: auto;
}

.logotextbox{
    border-radius:10px;
    background-color: rgb(255, 242, 245);
    margin-top: 0.9%;
    margin-bottom: 0.9%;
    margin-left: 1%;
    padding: 2%;
    width:  100%;
    display: flex;
    align-items: center;
}

.logotext{
    font-size: 18px;
}

.logoHTMLs{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    display: flex;
    justify-content: flex-end;
}

@media (max-width:991.98px) {
    .logo{
        /*background-color: aquamarine;*/
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        contain: paint;
        width: 100%;
    }

    .logoimg img{
        width: 100%;
        padding: 0%; 
    }

    .logotext{
        font-size :14px;
        margin: 20px;
    }

    .logotextbox{
        border-radius:10px;
        background-color: rgb(255, 242, 245);
        margin-top: 0.9%;
        margin-bottom: 0.9%;
        padding: 2%;
        width:  100%;
        display: flex;
        align-items: center;
    }
}

/*そのほか*/

.othertitleText{
    padding-top: 4%;
    padding-bottom: 0.9%;
    font-size: 30px;
}

.other{
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    contain: paint;
    width: 100%;
}

.otherimg img{
    max-width: 1200px;
    width: 100%;
    border-radius:20px;
    padding: 1.5%; 
}

.othertextbox{
    border-radius:10px;
    background-color: rgb(255, 242, 245);
    margin-top: 0.9%;
    margin-bottom: 0.9%;
    margin-left: 1%;
    padding: 2%;
    width: 700px;
    display:  flex;
    align-items: center;
}

.otherdtext{
    font-size: 18px;

}

.otherHTMLs{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    display: flex;
    justify-content: flex-end;
}

@media (max-width:991.98px) {
    .other{
        /*background-color: aquamarine;*/
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        contain: paint;
        width: 100%;
    }

    .othertext{
        font-size :14px;
        margin: 20px;
    }

    .otherimg img{
        width: 100%;
        border-radius:20px;
    }

    .othertextbox{
        border-radius:10px;
        background-color: rgb(255, 242, 245);
        margin-top: 0.9%;
        margin-bottom: 0.9%;
        padding-top: 2%;
        padding-bottom: 2%;
        width: 100%;
        display:  auto;
        align-items: center;
    }
    
}

.huta{
     max-width: 100%;
     margin-top: 200px;
     color: rgb(43, 10, 5);
     height: 200px;
}
